@import "../main.css";

.wrapper {
    display: grid;
    grid-template-rows: [row-1-start] 1fr [row-2-start] 1fr [row-2-end];
    grid-template-columns: [left] 1fr [center] 1fr [right] 1fr [end];
}

.one {
    grid-column: left/end;
    grid-row: row-2-start/row-2-end;
    background: yellow;
}
