@import "../main.css";

.wrapper {
  display: grid;
  grid-template-columns: 50% 
}

.one {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background: yellow;
}